# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
**/build/
build_debug/cmake_install.cmake
build_debug/CMakeCache.txt
build_debug/Makefile
build_debug/restaurantFoodPrep
build_debug/CMakeFiles/cmake.check_cache
build_debug/CMakeFiles/CMakeDirectoryInformation.cmake
build_debug/CMakeFiles/CMakeOutput.log
build_debug/CMakeFiles/Makefile.cmake
build_debug/CMakeFiles/Makefile2
build_debug/CMakeFiles/progress.marks
build_debug/CMakeFiles/TargetDirectories.txt
build_debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
build_debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
build_debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
build_debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_CXX.bin
build_debug/CMakeFiles/3.19.2/CMakeSystem.cmake
build_debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
build_debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build_debug/CMakeFiles/restaurantFoodPrep.dir/build.make
build_debug/CMakeFiles/restaurantFoodPrep.dir/cmake_clean.cmake
build_debug/CMakeFiles/restaurantFoodPrep.dir/CXX.includecache
build_debug/CMakeFiles/restaurantFoodPrep.dir/depend.internal
build_debug/CMakeFiles/restaurantFoodPrep.dir/depend.make
build_debug/CMakeFiles/restaurantFoodPrep.dir/DependInfo.cmake
build_debug/CMakeFiles/restaurantFoodPrep.dir/flags.make
build_debug/CMakeFiles/restaurantFoodPrep.dir/link.txt
build_debug/CMakeFiles/restaurantFoodPrep.dir/progress.make
